extends layout

block content
  h1= title
  p Welcome to #{title} and Working on pug templates to dynamically generate webpages
  button(type="button", class="btn btn-success" onclick="update()") Press Me
  br
  br
  #target display 
  script.
    var client_count = 0;
    function update(){
      client_count = client_count + 1;
      document.getElementById("target").innerHTML = "Value now "+client_count;
    }
    br
  a(href='pancake') Go to pancake Page